
<footer class="main-footer" style="padding-top:20px!important;padding-bottom:0px!important">
		<div class="auto-container" style="padding-bottom:0px;margin-bottom:-60px">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">

					<!-- Footer Column -->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget logo-widget">
							<div class="logo">
								<a asp-page="Index"><img src="@Url.Content("~/st/images/IBS_logos.jpg")" alt="" /></a>
							</div>
							<!-- Social Box -->
							<ul class="social-box" style="display:none">
								<li class="share">Retrouvez nous sur les réseaux sociaux</li>
								<li class="facebook"><a target="_blank" href="#" class="fa fa-facebook-f"></a></li>
								<li class="linkedin"><a target="_blank" href="#" class="fa fa-linkedin"></a></li>
								<li class="twitter"><a target="_blank" href="#" class="fa fa-twitter"></a></li>
								@*<li class="instagram"><a target="_blank" href="#" class="fa fa-instagram"></a></li>*@
							</ul>
						</div>
					</div>

					<!-- Footer Column -->
					<div class="footer-column col-lg-3 col-md-6 col-sm-12">
						<div class="footer-widget links-widget">
							<h4>Liens <span style="text-transform:lowercase">utiles</span></h4>
							<div class="row clearfix">
								<div class="column col-lg-6 col-md-6 col-sm-12">
									<ul class="list-link">
										<li><a asp-page="Index">Accueil</a></li>
										<li><a asp-page="about">A propos</a></li>
										<li><a asp-page="services">Produits</a></li>
										<li><a asp-page="contact">Contact</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

                    <!-- Footer Column -->
					<div class="footer-column col-lg-5 col-md-6 col-sm-12">
						<div class="footer-widget contact-widget">
							<h4>Contact</h4>
							<ul class="list-style-two">
								<li><span class="icon flaticon-map"></span>Lalala, Libreville Gabon</li>
								<li><span class="icon flaticon-phone-call"></span><a href="tel:+00-123-456-789">+241 011768606</a></li>
								<li><span class="icon flaticon-big-envelope"></span><a href="mailto:info@example.com">contact@interactivbs.com</a></li>
							</ul>
							@*<h6>Horaires</h6>
							<div class="timing">Lundi - Vendredi 08H à 16H Sam: 8H à 12H</div>*@
						</div>
					</div>

				</div>
			</div>

		</div>

		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="auto-container">
				<div class="row clearfix">
					<!-- Column -->
					<div class="column col-lg-6 col-md-12 col-sm-12">
						<div class="copyright">Copyright &copy; 2022, Interactiv' Business Services</div>
					</div>
				</div>
			</div>
		</div>

	</footer>