@page
@model siteibs.Pages.iApurementModel
@{
    ViewData["Title"] = "IBS | Genetrix";
}

<section class="banner-section-three">
    <div class="main-slider-carousel owl-carousel owl-theme">

        <div class="slide" style="background-image: @Url.Content("~/st/images/main-slider/image-4.jpg")">
            <div class="big-text">Business <br> Consultant</div>
            <div class="color-layer"></div>
            <div class="auto-container">
                <!-- Phone Box -->
                <div class="phone-box">
                    <span class="icon flaticon-phone-call"></span>
                    <a class="phone" href="tel:+0-123-456-789">+241 65638018</a>
                    <div class="text">Appelez-nous pour obtenir plus d'informations</div>
                </div>
                <!-- Content Boxed -->
                <div class="content-boxed">
                    <div class="inner-column">
                        <div class="video-outer">
                            <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image video-box"><span class="flaticon-play-arrow"><i class="ripple"></i></span></a>
                            Suivez la présentation du service iApurement.
                        </div>
                        <h1><span>Services</span> That Lead The Way <br> to Better Your <span>Business</span></h1>
                        <div class="btns-box">
                            <a href="contact.html" class="theme-btn btn-style-nine"><span class="txt">Lets Start Together</span></a>
                            <a href="blog.html" class="theme-btn btn-style-ten"><span class="txt">Discover More</span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="slide" style="background-image: url(images/main-slider/image-4.jpg)">
            <div class="big-text">Business <br> Consultant</div>
            <div class="color-layer"></div>
            <div class="auto-container">
                <!-- Phone Box -->
                <div class="phone-box">
                    <span class="icon flaticon-phone-call"></span>
                    <a class="phone" href="tel:+0-123-456-789">+241 65638018</a>
                    <div class="text">Appelez-nous pour obtenir plus d'informations</div>
                </div>
                <!-- Content Boxed -->
                <div class="content-boxed">
                    <div class="inner-column">
                        <div class="video-outer">
                            <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image video-box"><span class="flaticon-play-arrow"><i class="ripple"></i></span></a>
                            Suivez la présentation du service iApurement.
                        </div>
                        <h1><span>Services</span> That Lead The Way <br> to Better Your <span>Business</span></h1>
                        <div class="btns-box">
                            <a href="contact.html" class="theme-btn btn-style-nine"><span class="txt">Lets Start Together</span></a>
                            <a href="blog.html" class="theme-btn btn-style-ten"><span class="txt">Discover More</span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="slide" style="background-image: @Url.Content("~/st/images/main-slider/image-4.jpg")">
            <div class="big-text">Business <br> Consultant</div>
            <div class="color-layer"></div>
            <div class="auto-container">
                <!-- Phone Box -->
                <div class="phone-box">
                    <span class="icon flaticon-phone-call"></span>
                    <a class="phone" href="tel:+0-123-456-789">+241 65638018</a>
                    <div class="text">Appelez-nous pour obtenir plus d'informations</div>
                </div>
                <!-- Content Boxed -->
                <div class="content-boxed">
                    <div class="inner-column">
                        <div class="video-outer">
                            <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image video-box"><span class="flaticon-play-arrow"><i class="ripple"></i></span></a>
                            Suivez la présentation du service iApurement.
                        </div>
                        <h1><span>Services</span> That Lead The Way <br> to Better Your <span>Business</span></h1>
                        <div class="btns-box">
                            <a href="contact.html" class="theme-btn btn-style-nine"><span class="txt">Lets Start Together</span></a>
                            <a href="blog.html" class="theme-btn btn-style-ten"><span class="txt">Discover More</span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>
<section class="feature-section-three" style="margin-bottom:200px;">
    <div class="auto-container">
        <div class="inner-container">
            <div class="row clearfix">

                <!-- Feature Block Seven -->
                <div class="feature-block-seven col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="upper-box">
                            <div class="icon flaticon-monitor"></div>
                            <h4><a href="service-detail.html">Digital Marketing</a></h4>
                        </div>
                        <div class="text">Curabitur iaculis est a sem finibus semper Curabitur laoreet mauris orci, a lacinia sem laoreet id. In tincidunt ornare orci quis vehicula suscipit a condimentum tellus.</div>
                    </div>
                </div>

                <!-- Feature Block Seven -->
                <div class="feature-block-seven col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="upper-box">
                            <div class="icon flaticon-line-graph"></div>
                            <h4><a href="service-detail.html">Market Forecast</a></h4>
                        </div>
                        <div class="text">Curabitur iaculis est a sem finibus semper Curabitur laoreet mauris orci, a lacinia sem laoreet id. In tincidunt ornare orci quis vehicula suscipit a condimentum tellus.</div>
                    </div>
                </div>

                <!-- Feature Block Seven -->
                <div class="feature-block-seven col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="upper-box">
                            <div class="icon flaticon-like-1"></div>
                            <h4><a href="service-detail.html">Partner Solutions</a></h4>
                        </div>
                        <div class="text">Curabitur iaculis est a sem finibus semper Curabitur laoreet mauris orci, a lacinia sem laoreet id. In tincidunt ornare orci quis vehicula suscipit a condimentum tellus.</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
