@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout2";
}

<section class="error-section">
    <div class="auto-container">
        <div class="content">
            <div class="image">
                <div style="margin-top:-70px;position:relative">
                    <img src="~/st/images/IBS_logos.jpg" alt="" />
                </div>                
                <img src="~/st/images/resource/site-en-maintenance.png" alt="" />
            </div>
        </div>
    </div>
</section>